<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo">Exibir saldo</span>
            <span v-if="exibirSaldo">Ocultar saldo</span>
        </button> <!-- toggle-->
        <p>Saldo <span v-if="exibirSaldo">R$ {{ saldo }}</span></p>
        <hr>
        <!-- v-if e v-else-if -->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()"> <!-- blur = evento quando o input perde o foco -->
        <p v-if="idade < 18">Menor de idade</p>
        <p v-else>Maior de idade</p>
        <hr>
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''">Digite a nota do aluno</p>
        <p v-else-if="nota >= 7 && nota <= 10">Aluno aprovado</p>
        <p v-else-if="nota >= 5 && nota <= 7">Aluno em recuperação</p>
        <p v-else-if="nota >= 0 && nota <= 5">Aluno reprovado</p>
        <p v-else>nota invalida</p>
    </div>
    <script>
        
        const vm = new Vue({
            el: '#app',
            data: {
                saldo: 400.96,
                exibirSaldo: false,
                idade: 0,
                nota: 0,
            },
            methods:{
                setIdade(){
                    this.idade = inputIdade.value
                },
                setNota(){
                    this.nota = inputNota.value
                }
            },
        }); 

    </script>
</body>
</html>

